logs/
npm-debug.log
yarn-error.log
node_modules/
*-lock.json
*-lock.yaml
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
upload/

# 不上传工作简历和头像文件
app/upload/workPDF/
app/upload/avatarFile/
*.pdf
